// app global css in SCSS form
.cards-item {
  height: 30vh;
  min-width: 100px;
  min-height: 440px;
  flex: 1 0 21%;
}
.name-cart {
  text-overflow: ellipsis;   /* IE, Safari (WebKit) */
  overflow:hidden;              /* don't show excess chars */
  white-space:nowrap;           /* force single line */
  width: 20vw;
}
.shop-number {
  color: #fff;
}
.q-icon .q-badge {
  font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.body-cards {
  display: flex;
  flex-wrap: wrap;
}
.body-btn-car {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.data-buy {
  flex-direction: row;
  justify-content: center;
}
@media (max-width: $breakpoint-xs-max){
  .cards-item  {
    flex-basis: 100%;
    height: 520px;
  }
}
